.admin__page-nav.magebytes-config-tab-class._collapsed ._collapsible strong:before {
    content: "";
    background: url(../images/logo_magebytes-nobg.png) no-repeat scroll 0 0 transparent;
    width: 70px;
    height: 40px;
    display: inline-block;
    vertical-align: bottom;
    background-size: contain;
}
.admin__page-nav.magebytes-config-tab-class._collapsed ._collapsible strong {
    display: flex;
    align-items: center;
}

#menu-magebytes-top-level > a:before {
    content: '';
    background: url(../images/logo_magebytes.png) no-repeat 50% 50%;
    background-size: 35px auto;
    height: 35px;
}

li#menu-magebytes-top-level > a > span {
    color: #aaa6a0;
}